<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @contacto.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @contacto.apellido %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @contacto.telefono %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @contacto.correo %>
</p>

<p>
  <strong>Immo:</strong>
  <%= @contacto.immo %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @contacto.tipo %>
</p>

<p>
  <strong>Detalle:</strong>
  <%= @contacto.detalle %>
</p>

<%= link_to 'Edit', edit_contacto_path(@contacto) %> |
<%= link_to 'Back', contactos_path %>
